.logo-container{
    // height: 150px;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    ion-img{
        width: 90%;
        margin: auto;
    }
}
ion-grid{
    text-align: center;
}

.grecaptcha-badge {
    display: none !important;
}