<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/user/orders/all"></ion-back-button>
        </ion-buttons>
    <ion-title>التقرير الفني</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form  (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="fixed">حالة الأمر</ion-label>
        <ion-select name="Follow_ID" multiple="false"  [(ngModel)]="data.Follow_ID" name="state" placeholder="حالة الأمر">
          <ion-select-option *ngFor="let f of follows" [value]="f.ID">{{f.Name}}</ion-select-option>
        </ion-select>      
      </ion-item>
      <ion-item>
        <ion-label position="fixed">المتابعة </ion-label>
        <ion-select name="OrderCase_ID" multiple="false"  [(ngModel)]="data.OrderCase_ID" name="state" placeholder="المتابعة">
            <ion-select-option *ngFor="let s of states" [value]="s.ID">{{s.Name}}</ion-select-option>
          </ion-select>   
      </ion-item>
      <ion-item *ngIf="data.OrderCase_ID==1 || data.OrderCase_ID==7">
        <ion-label position="fixed">تاريخ المتابعة</ion-label>
        <ion-input  name="Action_Date" type="date" [(ngModel)]="data.Action_Date"  ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"  dir="rtl">تقرير العميل  </ion-label>
        <ion-textarea name="Customer_Report"  [(ngModel)]="data.Customer_Report" ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating" dir="rtl">ملاحظات </ion-label>
        <ion-textarea name="Notes"  [(ngModel)]="data.Notes" ></ion-textarea>
      </ion-item>
      <ion-button block color="primary" type="submit" >
        ارسال التقرير
      </ion-button>
    </form>
</ion-content>
