<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/user/orders/all"></ion-back-button>
        </ion-buttons>
    <ion-title>التقرير الفني</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ord.TYP_Devices_NAM}} {{ord.MARK_NAM}} {{ord.DEV_CODE=='1'?'':ord.DEV_CODE}}
        <span style="float: left">#{{ord.ORDER_NO}}</span>
        
      </ion-card-title>
      <ion-card-subtitle>{{ord.NAME}} (<a href="tel:{{ord.MOBIL}}">{{ord.MOBIL}}</a> {{ord.MOBIL1!="0"?"-":""}} <a href="tel:{{ord.MOBIL1}}" *ngIf="ord.MOBIL1!='0'">{{ord.MOBIL1}}</a>)
        
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
       
    <form  (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="fixed">المتابعة </ion-label>
        <ion-select [interfaceOptions]="followActionSheetOptions" interface="action-sheet" okText="موافق" cancelText="خروج من القائمة" name="Follow_ID" multiple="false" (click)="data.OrderCase_ID=defaults.status"  [(ngModel)]="data.Follow_ID" name="Follow_ID" placeholder="المتابعة">
          <ion-select-option *ngFor="let f of follows"  [value]="f.ID">{{f.Name}}</ion-select-option>
        </ion-select>      
      </ion-item>
      <ion-item>
        <ion-label position="fixed">حالة الأمر</ion-label>
        <ion-select [interfaceOptions]="caseActionSheetOptions" interface="action-sheet" okText="موافق" cancelText="خروج من القائمة" name="OrderCase_ID" multiple="false"  (click)="data.Follow_ID=defaults.follow" [(ngModel)]="data.OrderCase_ID" name="OrderCase_ID" placeholder="حالة الأمر">
          <ion-select-option *ngFor="let s of states" [value]="s.ID">{{s.Name}}</ion-select-option>
          </ion-select>   
      </ion-item>
      <ion-item *ngIf="data.Follow_ID==3 || data.Follow_ID==10">
        <ion-label position="fixed">تاريخ التأجيل</ion-label>
        <ion-input  name="Action_Date" type="date" [(ngModel)]="data.Action_Date"  ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"  dir="rtl">تقرير العميل  </ion-label>
        <ion-textarea name="Customer_Report"  [(ngModel)]="data.Customer_Report" ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating" dir="rtl">تقرير الفني </ion-label>
        <ion-textarea name="Notes"  [(ngModel)]="data.Tech_Report" ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">دفع مبلغ </ion-label>
        <ion-input  name="Cost" inputmode="numeric" type="number" [(ngModel)]="data.Cost"></ion-input>
      </ion-item>
      <ion-item *ngIf="data.Comp_No==1 && (data.OrderCase_ID==2 || data.OrderCase_ID==4)">
        <ion-label position="fixed">الضمان </ion-label>
        <ion-input [(ngModel)]="data.Warranty" max="24" min="0" name="Warranty" inputmode="numeric" placeholder="الضمان بالشهر">
        </ion-input>      
      </ion-item>
      <ion-item *ngIf="data.OrderCase_ID==2 || data.OrderCase_ID==4">
        <ion-label position="fixed">رقم الفاتورة </ion-label>
        <ion-input [(ngModel)]="data.Invoice_No" name="Invoice_No" inputmode="numeric" placeholder="eg.012345">
        </ion-input>      
      </ion-item>
      <ion-item>
        <app-stock-selector  [(data)]="data.StockItems" style="width: 100%"></app-stock-selector>
      </ion-item>
      <ion-button block color="primary" type="submit" [disabled]="submited" >
        ارسال التقرير
      </ion-button>
    </form>
     
  </ion-card-content>
</ion-card>
</ion-content>
