<ion-header>
    <ion-toolbar  dir="rtl">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
         <ion-title style="text-align:right">
          تسجيل الدخول
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    
    
    <ion-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
              <div class="logo-container">
                  <ion-img src="/assets/icon/favicon.png" ></ion-img>
                </div>
          </ion-col>
          <ion-col size="12">
              <p class="text-center" style="padding:60px 10xp">
                  لتسجيل الدخول تفضل بادخال اسم المستخدم وكلمة المرور
              </p>
          </ion-col>
        </ion-row>
      </ion-grid>


        
    
    <div [formGroup]="loginForm" dir="rtl">
      <ion-item>
        <ion-input formControlName="username" type="text"  placeholder="اسم المستخدم"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="كلمة المرور" ></ion-input>
      </ion-item>
      <br/>
    
    </div>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-button expand="full" color="primary" (click)="onSubmit()" type="submit" [disabled]="loginForm.invalid">
          تسجيل الدخول
        </ion-button>
      </ion-toolbar>
    </ion-footer>