<!-- <ion-header>
  <ion-toolbar>
    <ion-title>check</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
<ion-refresher slot="fixed" (ionRefresh)="ngOnInit($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<div class="error" *ngIf="error">
  {{error}}
<ion-button (click)="ngOnInit()" fill="solid" shape="round">
  اعادة المحاولة
  <ion-icon name="refresh"></ion-icon>  
</ion-button>
</div>
</ion-content>
