<!--component html goes here -->
<ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>              
            <img src="assets/icon/favicon.png"/>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false"  >
            <ion-item *ngFor="let p of appPages"  (click)="[p.onClick(p.url)]">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
              <ion-label color="primary">
                {{p.title}}
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" (click)="logout()">
              <ion-icon color="primary" slot="start" name="log-out"></ion-icon>
              <ion-label color="primary">
               تسجيل الخروج
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
         
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main>
      </ion-router-outlet>

  </ion-split-pane>

    <ion-fab-button [routerDirection]="'root'" routerLink="/client/select-device">
      <ion-icon name="add"  ></ion-icon>
    </ion-fab-button>
 