<ion-content>
    <section id="cd-timeline" class="cd-container">
      <div *ngFor="let dat of complaints">
        <div class="cd-timeline-block">
          <div class="cd-timeline-icon royal">
            <!-- <i class="ion-image timelineIcon" ng-if="(dat.type=='picture')"></i>
            <i class="ion-ios-videocam timelineIcon" ng-if="activity.type=='video' "></i>
            <i class="ion-location timelineIcon" ng-if="activity.type=='location'"></i> -->
            {{dat.COMPLAINT_DATE | date: "d"}}<br/>
            {{dat.COMPLAINT_DATE | date: "MMM"}}
  
            <!-- <i class="ion-android-textsms timelineIcon" ></i> -->
          </div>
          <!-- cd-timeline-img -->
          <div class="cd-timeline-content royal">
            
             <h5 class="marginBottom0 marginTop0">الشكوى رقم {{dat.COMPLAINT_NO}}</h5> 
             <p class="marginTop5 cd-author">
               <ion-icon  name="time"></ion-icon> {{dat.COMPLAINT_DATE|date:'dd/MM/yyyy'}} - #{{dat.ORDER_NO}}
            </p> 
            
            <ion-slides pager="true">
              <ion-slide *ngFor="let i of orderFilter(dat)">
                  <form >
                      <ion-item>
                        <ion-label position="fixed">التاريخ </ion-label>
                        <ion-input>{{i.FIN_DATE|date:'dd/MM/yyyy'}}</ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="fixed">الكشف</ion-label>
                        <ion-input>{{i.DETECTION|number}}</ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="fixed">الدفعات</ion-label>
                          <ion-input>{{i.PAYMENTS|number}}</ion-input>
                        </ion-item>
                      <ion-item>
                        <ion-label position="fixed">تكلفة نهائية</ion-label>
                        <ion-input>{{i.FINAL_COST|number}}</ion-input>
                      </ion-item>
                    
                    </form>
              </ion-slide>
            </ion-slides>
             
          </div>
        </div>
      </div>
    </section>
  </ion-content>
