<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
          <!-- <ion-menu-button></ion-menu-button> -->
        </ion-buttons>
    <ion-title>
       الأوردر
       <span >
          #{{ORDER_NO}} 
        </span>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-tabs >
        <ion-tab-bar slot="top" color="primary">
          <ion-tab-button tab="tech">
               الفني 
          </ion-tab-button>
          <ion-tab-button tab="stock">
               المخزن
          </ion-tab-button>
          <ion-tab-button tab="serve">
              الخدمات
          </ion-tab-button>
          <ion-tab-button tab="financ">
              المالي
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs> 


      
</ion-content>

