// ion-col{
//     font-size:12px;
// }
.order-status{
    height: 5px;
}
.order-closed{
    background-color: #000;
}

.order-waiting{
    background-color: #ebc20e;
}
ion-card-content{
    padding: 0px 5px;
}
