<ion-content>

<!-- <ion-slides pager="false" >
  <ion-slide > -->
    <div *ngIf="step==0">
      <ion-list-header>
        <ion-searchbar placeholder="بحث ..." (ionChange)="onDeviceSearch($event)" [debounce]="250"></ion-searchbar>
      </ion-list-header> 
      <ion-grid fixed>
          <ion-row>
            <ion-col  size="4" *ngFor="let dev of filteredDeviceTypes">
              <a (click)="selectDevice(dev.TYP_Devices_ID)">
                <ion-img (error)="src='assets/imgs/no-image.png'" src="{{env.apiUrl}}/Content/imgs/devices/{{dev.TYP_Devices_ID}}.png" style="height:80px;margin:auto" alt=""></ion-img>
                <ion-label>{{dev.TYP_Devices_NAM}}</ion-label>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid fixed *ngIf="!DeviceTypes">
          <ion-row>
            <ion-col size="4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
              <app-grid-icon-skeleton></app-grid-icon-skeleton>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  <!-- </ion-slide>
  <ion-slide> -->
    <div *ngIf="step==1">
      <ion-list-header>
          <ion-searchbar placeholder="بحث ..." (ionChange)="onMarkSearch($event)" [debounce]="250"></ion-searchbar>
        </ion-list-header> 
       <ion-grid>
          <ion-row>
            <ion-col  size="4" *ngFor="let mark of filteredMarks">
              <a (click)="selectMark(mark.MARK_ID)">
                <ion-img onerror="this.src='assets/imgs/no-image.png'" src="{{env.apiUrl}}/Content/imgs/marks/{{mark.MARK_ID}}.png" style="height:80px;margin:auto" alt=""></ion-img>
                <ion-label>{{mark.MARK_NAM}}</ion-label>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid> 

        <ion-grid fixed *ngIf="!Marks">
            <ion-row>
              <ion-col size="4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
                <app-grid-icon-skeleton></app-grid-icon-skeleton>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- </ion-slide>
          
        </ion-slides> -->
      </ion-content>
      
      <ion-footer *ngIf="step==1"> 
          <ion-toolbar>
            <ion-title>
              
              <ion-button (click)="step=0"  expand="full">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
                تراجع
              </ion-button>
            </ion-title>
          </ion-toolbar>
        </ion-footer>            
      