@import url('https://fonts.googleapis.com/css?family=Changa|Lalezar|Tajawal');

body{
    font-family: 'Changa', sans-serif  !important;
}
body *{
    font-family: inherit !important;
}
--ion-title{
    text-align: right !important;
}
.logo ion-img {
    margin: auto;
    width: 30%;
  }

  $app-direction:rtl;
  