// http://ionicframework.com/docs/theming/

@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar {
    --background: #810505 no-repeat fixed center; 
    --color:#fff;
 }
//  ion-content{
//      --background-color:rgb(252, 225, 225);
//  }
ion-content{
    //--background:url('assets/imgs/hexagon-background.png') no-repeat !important;
    --background:#fce1e1 url('assets/imgs/bg.jpg') no-repeat fixed 0px 0px/100% 100%;
   
    // a,p,h1,h2,h3{
    //     color:#fad818 !important;
    // }
}

 ion-card{
     --background:rgba(247, 247, 247, 0.761) !important;
 }

 .widget{
    color: #fff;
    background-size: auto 80%;
    background-position: 10px 10px;
    background-blend-mode: difference;
    background-repeat: no-repeat;
 }
 .widget.orders.closed{
    background-color:rgba(213, 69, 110, 0.8) !important;
    background-image: url('assets/icon/order.png') !important;
}
.widget.orders.opend{
    background-color:rgba(241, 142, 12, 0.8) !important;
    background-image: url('assets/icon/order.png')!important;
}
.widget.devices{
    background-color:rgba(57, 126, 230, 0.8) !important;
    background-image: url('assets/icon/product.png')!important;
}
.widget.orders{
    background-color:#810505 !important;
}
ion-slides.homeslider{
    width: 100%;
    height: 180px;
    ion-slide{
        background-size:100% 100%; 
        background-repeat: no-repeat;
    }
}

ion-item,ion-input{
	//border: rgba(0, 0, 0, 0);
	--background-color: #00000000 !important;
	//color: white; 
}

.vertical-align-content
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}