<p class="text-center" style="padding:60px 10xp">
    لتسجيل الدخول تفضل بادخال اسم المستخدم وكلمة المرور
</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" dir="rtl">
  <ion-item>
    <ion-label position="floating"  dir="rtl">اسم المستخدم:</ion-label>
    <ion-input formControlName="username" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" dir="rtl">كلمة المرور:</ion-label>
    <ion-input formControlName="password" type="text"></ion-input>
  </ion-item>
  <br/>
  <ion-button expand="full" color="primary" type="submit" [disabled]="loginForm.invalid">
    تسجيل الدخول
  </ion-button>
</form>