.logo-container{
    height: 200px;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    ion-img{
        width: 100%;
        margin: auto;
    }
}
ion-grid{
    text-align: center;
}
// .home-container{
//     background:url('/assets/imgs/hexagon-background.png') no-repeat !important;
//     //background:url("https://i.pinimg.com/736x/8d/82/3f/8d823f36204393af86aa09a2f993f685.jpg") no-repeat !important;
// }